<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPR Guide - ePharma</title>
    <link rel="stylesheet" href="../../static/css/emergency.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h1>CPR (Cardiopulmonary Resuscitation) Guide</h1>
    <div class="matter">
        <h2>CPR Demonstration Video:</h2>
        <div class="video-container">
            <video width="560" height="315" controls>
                <source src="../../static/videos/CPR.mp4" type="video/mp4">
                
            </video>
        </div>
    </div>
    <br>
    <br>
    <div class="matter">
        <h2>Steps for Performing CPR:</h2>
        <ol>
            <li><strong>Check Responsiveness:</strong> Tap the person and ask loudly, "Are you okay?"</li>
            <figcaption><img src="../../static/images/cpr_images/cpr_image_step_1.jpeg" alt="not available"></figcaption>
            <li><strong>Call for Emergency Help:</strong> Dial the emergency number (e.g., 911 or 108) immediately.</li>
            <figcaption><img src="../../static/images/cpr_images/cpr_step_2_image.jpeg" alt="not available"></figcaption>
            <li><strong>Open the Airway:</strong> Tilt the person's head back slightly and lift the chin.</li>
            <figcaption><img src="../../static/images/cpr_images/cpr_step_3.jpeg" alt="not available"></figcaption>
            <li><strong>Check for Breathing:</strong> Look, listen, and feel for breathing for no more than 10 seconds.
            </li>
            <figcaption><img src="../../static/images/cpr_images/cpr_step_4.jpeg" alt="not available"></figcaption>
            <li><strong>Start Chest Compressions:</strong>
                <ul>
                    <li>Place your hands on the center of the chest.</li>
                    <li>Push down hard and fast (about 2 inches deep).</li>
                    <li>Perform compressions at a rate of 100-120 per minute.</li>
                </ul>
            </li>
            <figcaption><img src="../../static/images/cpr_images/cpr_step_5.jpeg" alt="not available"></figcaption>
            <li><strong>Give Rescue Breaths:</strong> If trained, give 2 rescue breaths after every 30 compressions.
            </li>
            <figcaption><img src="../../static/images/cpr_images/cpr_step_6.jpeg" alt="not available"></figcaption>
            <li><strong>Continue CPR:</strong> Keep performing CPR until professional help arrives.</li>

        </ol>
    </div>
    <br><br>
    <a href="{{ url_for('index') }}">Back to Home<i class="fa fa-home"></i></a>
</body>

</html>
