<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electric Shock First Aid - ePharma</title>
    <link rel="stylesheet" href="../../static/css/emergency.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>First Aid for Electric Shocks</h1>
    <div class="matter">
        <h2>Electric Shock First Aid Video:</h2>
        <div class="video-container">
            <video width="560" height="315" controls>
                <source src="../../static/videos/Electric_shock.mp4" type="video/mp4">
        
            </video>
        </div>
    </div>
    <br>
    <br>
    <div class="matter">
        <h2>Steps to Follow:</h2>
        <ol>
            <li><strong>Turn Off the Power:</strong> If safe, disconnect the power source.</li>
            <figcaption><img src="../../static/images/electric_shock_images/Step_1.jpg" alt="not available"></figcaption>
            <li><strong>Do Not Touch the Victim:</strong> Use a non-conductive object like a wooden stick to move them away.</li>
            <figcaption><img src="../../static/images/electric_shock_images/Step_2.jpg" alt="not available"></figcaption>
            <li><strong>Check for Breathing and Pulse:</strong> If the person is not breathing, begin CPR.</li>
            <figcaption><img src="../../static/images/electric_shock_images/Step_3.jpg" alt="not available"></figcaption>
            <li><strong>Treat Burns:</strong> Cover burns with a clean, non-stick dressing.</li>
            <figcaption><img src="../../static/images/electric_shock_images/Step_4.jpg" alt="not available"></figcaption>
            <li><strong>Keep the Person Warm:</strong> Cover them with a blanket to prevent shock.</li>
            <figcaption><img src="../../static/images/electric_shock_images/Step_5.jpg" alt="not available"></figcaption>
            <li><strong>Seek Emergency Help:</strong> Call for medical assistance immediately.</li>
            <figcaption><img src="../../static/images/electric_shock_images/Step_6.jpg" alt="not available"></figcaption>
        </ol>
    </div>
    <br><br>
    <a href="{{ url_for('index')}}">Back to Home<i class="fa fa-home"></i></a>
</body>
</html>
