<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Accident First Aid - ePharma</title>
    <link rel="stylesheet" href="../../static/css/emergency.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>First Aid for Fire Accidents</h1>
    <div class="matter">
        <h2>Fire Accident First Aid Video:</h2>
        <div class="video-container">
            <video width="560" height="315" controls>
                <source src="../../static/videos/Burns_First_Aid.mp4" type="video/mp4">
                
            </video>
        </div>
    </div>
    <br>
    <br>
    <div class="matter">
        <h2>Steps to Follow:</h2>
        <ol>
            <li><strong>Stop, Drop, and Roll:</strong> If on fire, stop moving, drop to the ground, and roll to extinguish flames.</li>
            <figcaption><img src="../../static/images/fire_images/Step_1.webp" alt="not available"></figcaption>
            <li><strong>Remove Burnt Clothing:</strong> Do not remove clothing stuck to the skin.</li>
            <figcaption><img src="../../static/images/fire_images/Step_2.jpg" alt="not available"></figcaption>
            <li><strong>Cool the Burn:</strong> Use cool (not ice-cold) water to soothe the burn.</li>
            <figcaption><img src="../../static/images/fire_images/Step_3.jpg" alt="not available"></figcaption>
            <li><strong>Cover with a Clean Cloth:</strong> Use a non-stick, sterile bandage.</li>
            <figcaption><img src="../../static/images/fire_images/Step_4.webp" alt="not available"></figcaption>
            <li><strong>Do Not Pop Blisters:</strong> This increases infection risk.</li>
            <figcaption><img src="../../static/images/fire_images/Step_5.webp" alt="not available"></figcaption>
            <li><strong>Seek Immediate Medical Help:</strong> Call emergency services for severe burns.</li>
            <figcaption><img src="../../static/images/fire_images/Step_6.jpg" alt="not available"></figcaption>
        </ol>
    </div>
    <br><br>
    <a href="{{ url_for('index') }}">Back to Home<i class="fa fa-home"></i></a>
</body>
</html>
