<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Bite First Aid - ePharma</title>
    <link rel="stylesheet" href="../../static/css/emergency.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>First Aid for Snake Bites</h1>
    <div class="matter">
        <h2>Snake Bite First Aid Video:</h2>
        <div class="video-container">
            <video width="560" height="315" controls>
                <source src="../../static/videos/Snake_Bite.mp4" type="video/mp4">
                
            </video>
        </div>
    </div>
    <br>
    <br>
    <div class="matter">
        <h2>Steps to Follow:</h2>
        <ol>
            <li><strong>Stay Calm:</strong> Try to remain as still and calm as possible.</li>
            <figcaption><img src="../../static/images/snake_images/Step_1.jpg" alt="not available"></figcaption>
            <li><strong>Keep the Bite Area Below Heart Level:</strong> This helps slow the spread of venom.</li>
            <figcaption><img src="../../static/images/snake_images/Step_2.jpg" alt="not available"></figcaption>
            <li><strong>Remove Tight Clothing and Jewelry:</strong> Swelling can occur, so remove anything that may restrict blood flow.</li>
            <figcaption><img src="../../static/images/snake_images/Step_3.jpg" alt="not available"></figcaption>
            <li><strong>Do Not Suck the Venom:</strong> Avoid cutting the wound or trying to suck out the venom.</li>
            <figcaption><img src="../../static/images/snake_images/Step_4.jpg" alt="not available"></figcaption>
            <li><strong>Apply a Loose Bandage:</strong> Wrap a bandage gently around the bite area, but do not cut off circulation.</li>
            <figcaption><img src="../../static/images/snake_images/Step_5.jpg" alt="not available"></figcaption>
            <li><strong>Seek Immediate Medical Help:</strong> Call emergency services and try to identify the snake if possible.</li>
            <figcaption><img src="../../static/images/snake_images/Step_6.jpg" alt="not available"></figcaption>
        </ol>
    </div>
    <br><br>
    <a href="{{ url_for('index') }}">Back to Home<i class="fa fa-home"></i></a>
</body>
</html>
